
html,
body {
  height: 100%;
  /* STOP ELEMENTS FROM JITTERING */
  scroll-behavior: smooth;
}

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* BACKGROUND SHOULD COVER ALL SCREEN */
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* REMOVE ANIMATION FOR PEOPLE WHO PREFER NO MOTION */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
